{% extends "base.html" %}
{% block content %}

<h1>Staff Members</h1>

<p><a href="{{ url_for('add_staff_form') }}" class="button">Add Staff</a></p>

{% if staff|length == 0 %}
    <p>No staff found.</p>
{% else %}
    <table>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>DOB</th>
            <th>Sex</th>
        </tr>

        {% for s in staff %}
        <tr>
            <td>{{ s.first }} {{ s.last }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.phone }}</td>
            <td>{{ s.dob }}</td>
            <td>{{ s.sex }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}
